In [1]:
import pandas as pd

Method #1

Data

In [2]:
S = [54.78, 60.29, 80.78, 70.49, 95.69, 49.28, 56.67, 60.44, 72.67, 85.32, 93.22, 50.36, 62.34, 70.98, 82.12, 98.98]
Price = [42800, 51300, 66650, 59100, 99490, 48324, 50300, 60100, 68900, 77567, 89340, 38400, 48678, 58450, 61900, 96890] 
City = ['Odesa', 'Odesa','Odesa','Odesa','Odesa','Kyiv','Kyiv','Kyiv','Kyiv','Kyiv','Kyiv','Mykolaiv','Mykolaiv','Mykolaiv','Mykolaiv','Mykolaiv']

In [3]:
data_frame = pd.DataFrame({'S':S, 'Price':Price, 'City':City})
print(data_frame)

        S  Price      City
0   54.78  42800     Odesa
1   60.29  51300     Odesa
2   80.78  66650     Odesa
3   70.49  59100     Odesa
4   95.69  99490     Odesa
5   49.28  48324      Kyiv
6   56.67  50300      Kyiv
7   60.44  60100      Kyiv
8   72.67  68900      Kyiv
9   85.32  77567      Kyiv
10  93.22  89340      Kyiv
11  50.36  38400  Mykolaiv
12  62.34  48678  Mykolaiv
13  70.98  58450  Mykolaiv
14  82.12  61900  Mykolaiv
15  98.98  96890  Mykolaiv

Method #2

In [21]:
df = pd.DataFrame({
     'square': [54.78, 60.29, 80.78, 70.49],
     'price': [42800, 51300, 66650, 59100],
     'city': ['Odesa', 'Kyiv','Mykolaiv','Lviv']
}, index=['Od', 'K', 'M', 'L'])
print(df)
df.index.name = 'Country Code'
print(df)

    square  price      city
Od   54.78  42800     Odesa
K    60.29  51300      Kyiv
M    80.78  66650  Mykolaiv
L    70.49  59100      Lviv
              square  price      city
Country Code
Od             54.78  42800     Odesa
K              60.29  51300      Kyiv
M              80.78  66650  Mykolaiv
L              70.49  59100      Lviv

In [34]:
#Head
print("Head of 2\n",df.head(3))
#Describe
print("\nDescribe\n",df.describe())
#loc
print("\nLoc from 'Od' to 'M' is\n",df.loc['Od':'M', :])
#Iloc
print("\nIloc of '4' is\n",df.iloc[3])

Head of 2
               square  price      city       density
Country Code
Od             54.78  42800     Odesa  7.813070e+08
K              60.29  51300      Kyiv  8.508874e+08
M              80.78  66650  Mykolaiv  8.250805e+08

Describe
           square         price       density
count   4.000000      4.000000  4.000000e+00
mean   66.585000  54962.500000  8.239229e+08
std    11.485238  10247.875796  3.030185e+07
min    54.780000  42800.000000  7.813070e+08
25%    58.912500  49175.000000  8.141371e+08
50%    65.390000  55200.000000  8.317486e+08
75%    73.062500  60987.500000  8.415344e+08
max    80.780000  66650.000000  8.508874e+08

Loc from 'Od' to 'M' is
               square  price      city       density
Country Code
Od             54.78  42800     Odesa  7.813070e+08
K              60.29  51300      Kyiv  8.508874e+08
M              80.78  66650  Mykolaiv  8.250805e+08

Iloc of '4' is
 square           70.49
price            59100
city              Lviv
density    8.38417e+08
Name: L, dtype: object

In [27]:
#operations with columns
df['density'] = df['price'] / df['square'] * 1000000
print(df)
#delate index
df.reset_index()
print(df)
#delate column
df.drop(['density'], axis='columns')

              square  price      city       density
Country Code
Od             54.78  42800     Odesa  7.813070e+08
K              60.29  51300      Kyiv  8.508874e+08
M              80.78  66650  Mykolaiv  8.250805e+08
L              70.49  59100      Lviv  8.384168e+08
              square  price      city       density
Country Code
Od             54.78  42800     Odesa  7.813070e+08
K              60.29  51300      Kyiv  8.508874e+08
M              80.78  66650  Mykolaiv  8.250805e+08
L              70.49  59100      Lviv  8.384168e+08

              square  price      city
Country Code
Od             54.78  42800     Odesa
K              60.29  51300      Kyiv
M              80.78  66650  Mykolaiv
L              70.49  59100      Lviv

In [33]:
#group
group_city = data_frame.groupby(['City']).mean()
print(group_city)

               S         Price
City
Kyiv      69.600  65755.166667
Mykolaiv  72.956  60863.600000
Odesa     72.406  63868.000000