In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import os
import seaborn as sns
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsClassifier

Classification

In [2]:
iris = pd.read_csv(r'iris.csv', sep = ',')

Data exploration

In [3]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

wether we have NUN

In [5]:
iris['variety'].replace('', np.nan, inplace=True)
print (iris)
iris.dropna(subset=['variety'], inplace=True)
print (iris)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]
     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

Data preparation

In [6]:
irisArray = iris.drop(['variety'], axis=1).values
irisArray.shape
IrisN = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])
IrisN.shape

(150,)

Training and testing the model

In [7]:
X_train, X_test, y_train, y_test = train_test_split(irisArray, IrisN, random_state=0)
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)
print('Test accuracy: {:.2f}'.format(knn.score(X_test, y_test)))

Test accuracy: 0.97

Making predictions

In [10]:
classes = {0:'setosa',1:'versicolor',2:'virginica'}
X_new = [[3,4,5,2],
         [5,3,2,2],
         [4,1,2,1],
         [8,6,2,1],
         [3,2,1.5,2],
         [2,4,2,1],
         [4,4,2.4,1],
         [5,4,2,2],
         [6,1,2,3],
         [3,4,1.9,2],
         [2,4,2,1],
         [3,4,1.8,1],
         [3,3,2,2],
         [5,4,2,1]]
        


y_predict = knn.predict(X_new)
print('Test predictions:{}'.format(y_predict))
print(classes[y_predict[0]])
print(classes[y_predict[1]])
print(classes[y_predict[2]])
print(classes[y_predict[3]])
print(classes[y_predict[4]])
print(classes[y_predict[5]])
print(classes[y_predict[6]])
print(classes[y_predict[7]])
print(classes[y_predict[8]])
print(classes[y_predict[9]])
print(classes[y_predict[10]])
print(classes[y_predict[11]])
print(classes[y_predict[12]])
print(classes[y_predict[13]])

Test predictions:[2 1 0 0 0 0 0 0 1 0 0 0 0 0]
virginica
versicolor
setosa
setosa
setosa
setosa
setosa
setosa
versicolor
setosa
setosa
setosa
setosa
setosa

Regression

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import LabelEncoder

In [12]:
S = [54.78, 60.29, 80.78, 70.49, 95.69, 49.28, 56.67, 60.44, 72.67, 85.32, 93.22, 50.36, 62.34, 70.98, 82.12, 98.98]
City = ['Odesa', 'Odesa','Odesa','Odesa','Odesa','Kyiv','Kyiv','Kyiv','Kyiv','Kyiv','Kyiv','Mykolaiv','Mykolaiv','Mykolaiv','Mykolaiv','Mykolaiv']
Price = [42800, 51300, 66650, 59100, 99490, 48324, 50300, 60100, 68900, 77567, 89340, 38400, 48678, 58450, 61900, 96890]

In [13]:
df = pd.DataFrame({'S':S, 'City':City,'Price':Price})
label = LabelEncoder()
number_city = df[df.columns[1:2]].apply(label.fit_transform)
df.City = number_city
print(df)

        S  City  Price
0   54.78     2  42800
1   60.29     2  51300
2   80.78     2  66650
3   70.49     2  59100
4   95.69     2  99490
5   49.28     0  48324
6   56.67     0  50300
7   60.44     0  60100
8   72.67     0  68900
9   85.32     0  77567
10  93.22     0  89340
11  50.36     1  38400
12  62.34     1  48678
13  70.98     1  58450
14  82.12     1  61900
15  98.98     1  96890

In [14]:
new_df = df.sample(frac=1)
print(new_df)

        S  City  Price
6   56.67     0  50300
14  82.12     1  61900
8   72.67     0  68900
13  70.98     1  58450
15  98.98     1  96890
4   95.69     2  99490
5   49.28     0  48324
10  93.22     0  89340
12  62.34     1  48678
2   80.78     2  66650
3   70.49     2  59100
1   60.29     2  51300
11  50.36     1  38400
0   54.78     2  42800
7   60.44     0  60100
9   85.32     0  77567

y=a+bx1+cx2

In [15]:
cut = int(0.7*len(df))
train_data = new_df.iloc[:cut,:]
test_data = new_df.iloc[cut:,:]
trainX = train_data[train_data.columns[:2]]
trainY = train_data[train_data.columns[2:]]
testX = test_data[test_data.columns[:2]]
testY = test_data[test_data.columns[2:]]
model = LinearRegression(fit_intercept = True, normalize = True)
reg = model.fit(trainX, trainY)
pred_y = reg.predict(testX)
print("Predictions:", pred_y)
print("Real:", testY)

Predictions: [[46821.64447488]
 [38613.2550884 ]
 [40505.79657346]
 [53341.36597549]
 [81860.11294234]]
Real:     Price
1   51300
11  38400
0   42800
7   60100
9   77567

In [16]:
print(reg.coef_)
print(reg.intercept_)

[[ 1146.25188774 -3173.89185873]]
[-15938.09811921]